*.jl.cov
*.jl.*.cov
*.jl.mem
oneclone-*/**
/oneclone-*/**
example/oneclone-*/
oneclone-*.txt
nikzainal.txt
example/nikzainal.txt
example/example.jl
example/otherdata/*
/example/otherdata/*
example/nikzainal/
example/dpclustering.jl
